<div style="min-height: 430px;display: flex;flex-direction: column;">
    <div style="display:flex;justify-content: center; margin-top: 36px;margin-bottom: 26px;">
        <h2>Education</h2>
    </div>
    <div class="container">
        <div class="content">
            <b>
                <span>Coimbatore Institute Of</span>
                <span class="break">Technology</span>
            </b>
            <div style="display: flex;flex-direction: column;align-items: center;">
                <p>MSc Software Systems</p>
                <p>CGPA: 9.3</p>
            </div>
        </div>
        <div class="content">
            <b>
                <span>Saratha Matriculation Hr</span>
                <span class="break">Sec School</span>
            </b>
            <div style="display: flex;flex-direction: column;align-items: center;">
                <p>Higher Secondary</p>
                <p>Score: 91%</p>
            </div>
        </div>
        <div class="content">
            <b>
                <span>Shree Vidayala Matric Hr</span>
                <span class="break">Sec School</span>
            </b>
            <div style="display: flex;flex-direction: column;align-items: center;">
                <p>SSLC</p>
                <p>Score: 97%</p>
            </div>
        </div>
    </div>
</div>
