<div style="min-height: 342px;display: flex;flex-direction: column;">
    <div style="display:flex;justify-content: center; margin-top: 42px;margin-bottom: 5px;">
        <h2>Education</h2>
    </div>
    <div class="container">
        <div class="content">
            <b>
                Coimbatore Institute Of Technology
                <!-- <span>Coimbatore Institute Of</span>
                <span class="break">Technology</span> -->
            </b>
            <div style="display: flex;flex-direction: column;align-items: center;margin-top: 20px;gap: 10px;">
                <span>MSc Software Systems</span>
                <span>CGPA: 9.3</span>
            </div>
        </div>
        <div class="content">
            <b>
                Saratha Matriculation Hr Sec School
                <!-- <span>Saratha Matriculation Hr</span>
                <span class="break">Sec School</span> -->
            </b>
            <div style="display: flex;flex-direction: column;align-items: center;margin-top: 20px;gap: 10px;">
                <span>Higher Secondary</span>
                <span>Score: 91%</span>
            </div>
        </div>
        <div class="content">
            <b>
                Shree Vidayala Matric Hr Sec School
                <!-- <span>Shree Vidayala Matric Hr</span>
                <span class="break">Sec School</span> -->
            </b>
            <div style="display: flex;flex-direction: column;align-items: center;margin-top: 20px;gap: 10px;">
                <span>SSLC</span>
                <span>Score: 97%</span>
            </div>
        </div>
    </div>
</div>
