<div class="footer-container">
  <nav class="footer">
      <div class="container">
        <div class="content-img">
          <a href="https://www.linkedin.com/in/saughanthikaa-k-e" target="_blank">
            <img src="../../assets/linkdin.png" alt="LinkedIn" style="width: 30px;">
          </a>
          <a href="https://github.com/Saughanthikaa" target="_blank">
            <img src="../../assets/github.png" alt="GitHub" style="width: 30px;">
          </a>
          <a href="mailto:saughanthikaa.ke@gmail.com" target="_blank">
            <img src="../../assets/mail.png" class="mail-img" alt="Email" style="width: 21px;">
          </a>
          <a href="https://www.hackerrank.com/profile/saughanthikaa_ke" target="_blank">
            <img src="../../assets/hackerrank.png" class="mail-img" alt="Email" style="width: 25px;">
          </a>
          <a href="https://leetcode.com/u/saughanthikaa18/" target="_blank">
            <img src="../../assets/leetcode.png" class="mail-img" alt="Email" style="width: 20px;">
          </a>
        </div>
      </div>
    </nav>
</div>
  