<div style="min-height: 430px;display: flex;flex-direction: column;">
    <div style="display:flex;justify-content: center; margin-top: 36px;margin-bottom: 26px;"><h2>Certifications</h2></div>
    <div class="container">
        <div class="content">
            <h4>IBM Qiskit Localization Contributor (Platinum Level - 2020 , 2021) </h4>
            <p>Contributed to qiskit (Quantum) book translation.</p>
            <a href="https://www.credly.com/badges/60c76ed5-0d0f-42db-bc3f-089a17997af1?source=linked_in_profile" target="_blank">
                <button>Link</button>
            </a>
        </div>
        <div class="content">
            <h4>Great Learning - OOPS</h4>
            <p>Basics of Object-Oriented Programming course from Great Learning </p>
            <a href="https://olympus.mygreatlearning.com/courses/57492/certificate" target="_blank">
                <button>Link</button>
            </a>
        </div>
        <div class="content">
            <h4>Great Learning - OOPS</h4>
            <p>Problem Solving Basics certification from HackerRank.</p>
            <a href="https://github.com/Saughanthikaa/Inventory-Mnagement-in-python" target="_blank">
                <button>Link</button>
            </a>
        </div>
        <div class="content">
            <h4>Problem Solving - Basics</h4>
            <p>Python Basics certification from HackerRank.<br>Issued : June 3, 2024</p>
            <a href="https://www.hackerrank.com/certificates/iframe/78dbec138361" target="_blank">
                <button>Link</button>
            </a>
        </div>
        <div class="content">
            <h4>Python - Basics</h4>
            <p>Completed the SQL Basics certification on HackerRank.<br>Issued : May 31 , 2024</p>
            <a href="https://www.hackerrank.com/certificates/iframe/f6351dd2e02c" target="_blank">
                <button>Link</button>
            </a>
        </div>
        <div class="content">
            <h4>SQL - Basics</h4>
            <p>Contributed to qiskit book translation.<br>Issued : Jan 18 , 2024</p>
            <a href="https://www.hackerrank.com/certificates/iframe/1076c2688d5b" target="_blank">
                <button>Link</button>
            </a>
        </div>
    </div>
</div>
