<div style="min-height: 430px;display: flex;flex-direction: column;">
    <div style="display:flex;justify-content: center;"><h2>Projects</h2></div>
    <div class="container">
        <div class="content">
            <h4>InvoiceSync</h4>
            <p>Robust login and billing system to streamline transactions. Effortlessly monitor order status and track financial metrics with streamlined visibility into the number of orders.Enhanced billing accuracy and efficiency, improving the overall user experience & tracking of the orders.</p>
            <h5>Tools Used : React js , Mongodb , Node js</h5>
            <a href="https://github.com/Saughanthikaa/Portfolio" target="_blank">
                <button class="btn">GitHub</button>
            </a>
        </div>
        <div class="content">
            <h4>Question Paper Generator</h4>
            <p>Creating question papers aligned with syllabus requirements and rigorously ensuring question validity through Bloom's Taxonomy that helps the  teachers and educators save time and create assessments that are aligned with educational objectives.</p>
            <h5>Tools Used : Python</h5>
            <a href="https://github.com/Saughanthikaa/Question-paper-generator-using-blooms-taxonomy" target="_blank">
                <button class="btn">GitHub</button>
            </a>
        </div>
        <div class="content">
            <h4>Stock Connect</h4>
            <p>
        Implemented login system for customers and admin management, resulting in increased data accuracy for the stock management. Dynamic database updates based on customer purchases, providing real-time insights into stock levels and enable informed decision-making.
            </p>
            <h5>Tools Used : Python ,Sql</h5>
            <a href="https://github.com/Saughanthikaa/Inventory-Mnagement-in-python" target="_blank">
                <button class="btn">GitHub</button>
            </a>
        </div>
    </div>
    </div>
    