.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
  }
  
  .content {
    background-color: #FFF8E7;
    width: 25%;
    border: 1px solid #FFF8E7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
  }
  
  /* Media query for tablets and mobile */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .content {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  }
  
  /* Media query for mobile phones */
  @media (max-width: 480px) {
    .content {
      width: 80%;
    }
  }
  