<div style="min-height: 430px;display: flex;flex-direction: column;">
    <div style="display:flex;justify-content: center; margin-top: 36px;margin-bottom: 26px;"><h2>Projects</h2></div>
    <div class="container">
        <div class="content">
            <h4>Project 1</h4>
            <p>Robust login and billing system to streamline transactions.  Effortlessly monitor order status and track financial metrics, including profits and losses, with streamlined visibility into the number of orders.Enhanced billing accuracy and efficiency, improving the overall user experience and tracking of the orders.</p>
            <h5>Tools Used : React js , Mongodb , Node js</h5>
            <a href="https://github.com/Saughanthikaa/Portfolio" target="_blank">
                <button>Github</button>
            </a>
        </div>
        <div class="content">
            <h4>Project 2</h4>
            <p>Generating  question papers based on a syllabus and ensuring the validity of questions according to Bloom's Taxonomy that helps the  teachers and educators save time and create assessments that are aligned with educational objectives.</p>
            <h5>Tools Used : Python</h5>
            <a href="https://github.com/Saughanthikaa/Question-paper-generator-using-blooms-taxonomy" target="_blank">
                <button>Github</button>
            </a>
        </div>
        <div class="content">
            <h4>Project 2</h4>
            <p>
        Implemented login system for customers and admin management, resulting in increased data accuracy. Dynamic database updates based on customer purchases, providing real-time insights into stock levels and enable informed decision-making.
            </p>
            <h5>Tools Used : Python ,Sql</h5>
            <a href="https://github.com/Saughanthikaa/Inventory-Mnagement-in-python" target="_blank">
                <button>Github</button>
            </a>
        </div>
    </div>
    </div>
    