<div style="min-height: 330px; display: flex; flex-direction: column;">
    <div style="display:flex;justify-content: center; margin-top: 35px;"><h2>Technical Skills</h2></div>
    <div class="container">
        <div class="skill">
            <img src="../../assets/htmllogo.webp" alt="Skill Icon" title="HTML">
            <p>HTML</p>
        </div>
        <div class="skill">
            <img src="../../assets/css.svg" alt="Skill Icon" title="CSS">
            <p>CSS</p>
        </div>
        <div class="skill">
            <img src="../../assets/js.svg" alt="Skill Icon" title="JavaScript">
            <p>JS</p>
        </div>
        <div class="skill">
            <img src="../../assets/react.png" alt="Skill Icon" title="React js">
            <p>React js</p>
        </div>
        <div class="skill">
            <img src="../../assets/angular.png" alt="Skill Icon" title="Angular">
            <p>Angular</p>
        </div>
        <div class="skill">
            <img src="../../assets/python.png" alt="Skill Icon" title="Python">
            <p>Python</p>
        </div>
        
        <div class="skill">
            <img src="../../assets/mongodb.svg" alt="Skill Icon" title="MongoDB">
            <p>MongoDB</p>
        </div>
        <div class="skill">
            <img src="../../assets/mysql.svg" alt="Skill Icon" title="sql">
            <p>Sql</p>
        </div>
    </div>
</div>
